::selection {
  background-color: #fff0db;
  color: #173624;
  -webkit-text-fill-color: #173624;
}

.App {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
}

.sparks {
  position: absolute;
  top: 15px;
  left: 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.arrowSvg {
  width: 14px;
  height: 14px;
  transform: rotate(-90deg);
  margin: 0 3px 0 13px;
}
.sparks span {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #fff0db;
  pointer-events: none;
}
.sparks span::selection {
  background-color: transparent;
  color: #fff0db;
  -webkit-text-fill-color: #fff0db;
}
.sparksSvg {
  width: 35px;
  height: 35px;
  cursor: pointer;
  animation: zoom-in-zoom-out 5s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  7% {
    transform: scale(1.5, 1.5);
  }
  14% {
    transform: scale(1, 1);
  }
}

h1 {
  font-family: 'TASA Orbiter';
  font-size: 7rem;
  margin: 0;
  font-weight: 900;
}
/* h1:hover {
  background: -webkit-linear-gradient(0deg, #9D6A06, #910330, #5E0BBD, #00698E);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
p {
  font-family: 'Valverde';
  font-size: 2.5vw;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
  transition: all .1s ease-in-out;
  width: max-content;
}
a:hover {
  transform: skewX(-15deg);
}

.header {
  padding: 3rem 3rem 0 3rem;
  width: max-content;
  align-self: end;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.content {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 0 3rem 3rem 3rem;
}

.contactPlaces {
  font-family: 'DM Sans', sans-serif;
  font-weight: 800;
  text-align: end;
  display: flex;
  flex-flow: column;
  gap: .5rem;
  align-items: flex-end;
}

@media (max-width:600px) {
  h1 {
    font-size: 15vw;
  }
  p {
    font-size: 6vw;
  }
}